.bodyContent {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: inline-block;
    /* top: 58vh; */
    text-align: center;
    padding-bottom: 20vh;
    /* left: 200px; */
}

/* general styles for all children items in the body component */
.bodyContent > * {
    display: inline-block;
}

.leftColumn > * {
    margin-top: 2vh;
}
.rightColumn {
    position: relative;
    left: 10vw;
    top: 61vh;
}


.leftColumn {
    position: relative;
    left: -10vw;
    top: 3vh;
}

/* card for personal description */
.PersonalCard {
    background-color: #ECF0F3;
    font-size: 1.2rem;
    border-radius: 20px;
    text-align: center;
    padding: 1vh 2vw 1vh 1vw;
    width: 30vw;
    /* fonts */
    font-family: 'Aboreto', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 2vh;
}

.PersonalCard li {
    text-align: left;
}

/* course work */
.courseWork {
    background-color: #ECF0F3;
    font-size: 1.2rem;
    border-radius: 20px;
    text-align: center;
    padding: 1vh 2vw 2vh 1vw;
    width: 30vw;
    /* fonts */
    font-family: 'Aboreto', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 2vh;
}

.courseWork li {
    text-align: left;
    margin-left: 2vw;
}

/* programming languages */


/* desktop query */
@media screen and (min-width: 1240px){
    .bodyContent {
        position: relative;
        top: -50vh;
    }
    .leftColumn {
        position: relative;
        left: -10vw;
        top: 41vh;
    }
}

/* medium screen */
@media screen and (min-width: 1023px){
    .leftColumn {
        position: relative;
        left: -10vw;
        top: -18vh;
    }
}

/* smaller medium screen */
@media screen and (min-height: 1025px){
    .leftColumn {
        position: relative;
        left: -10vw;
        top: -45vh;
    }
}

/* mac screen */
@media screen and (min-width: 1400px){
    .leftColumn {
        position: relative;
        left: -10vw;
        top: -5vh;
    }
}

/* phone size */
@media screen and (max-width: 700px){
    html,body {
        scroll-behavior: smooth;
    }
    .bodyContent {
        position: relative;
        top: -30vh;
    }
    .leftColumn,.rightColumn {
        position: relative;
        z-index: 0;
        display: block;
        /* width: 80vw; */
    }
    .leftColumn {
        left: 10vw;
        top: 30vh;
    }
    .rightColumn {
        top: 30vh;
    }
    .courseWork {
        width: 80vw;
        padding-bottom: 3vh;
        /* padding-left: 3vw; */
    }
    .PersonalCard {
        width: 80vw;
        font-size: 1.2rem;
    }
    .PersonalCard h1 {
        font-size: 1.9rem;
    }
}