body {
    /* fonts */
    font-family: 'Aboreto', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 2vh;
    width: fit-content;
    /* overflow: hidden; */
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

.bodyContent {
    width:  100vw;
    height: 80vh;
    position: absolute;
    display: inline-block;
    text-align: center;
    padding-bottom: 20%;
    font-size: 1.8rem;
}

/* general styles for all children items in the body component */
.bodyContent > * {
    display: inline-block;
}

.leftColumn > * {
    margin-bottom: 2vh;
}
.rightColumn {
    position: absolute;
    left: 60%;
    top: 10%;
}


.leftColumn {
    position: absolute;
    left: 5%;
    top: 9%;
}

/* card for personal description */
.PersonalCard {
    background-color: #ECF0F3;
    font-size: 1.2rem;
    border-radius: 20px;
    text-align: center;
    padding: 1vh 2vw 1vh 1vw;
    width: 30vw;
}

.PersonalCard li {
    text-align: left;
    font-size: 1.5rem;
}

/* course work */
.courseWork, .Languages{
    background-color: #ECF0F3;
    /* font-size: 1.2rem; */
    border-radius: 20px;
    text-align: center;
    padding: 1vh 2vw 2vh 1vw;
    width: 30vw;
    height: fit-content;
    /* fonts */
    font-family: 'Aboreto', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 2vh;
}

.courseWork li {
    text-align: left;
    margin-left: 2vw;
}

.LanguagesList {
    text-align: left;
    margin-left: 2vw;
    font-weight: normal;
}

.slash {
    position: absolute;
    top: 106%;
    left: 0;
    height: 10vh;
    width: 100vw;
    rotate: 2deg;
    background-color: #222;
    z-index: 2;
}
.ContactSection {
    position: absolute;
    top: 110%;
    left: 0%;
    width: 100vw;
    height: 60vh;
    background-color: black;
    text-align: center;
}
.ContactContent {
    height: 40%;
    width: 50%;
    position: relative;
    top: 20%;
    left: 25%;
    background-color: transparent;
    text-align: center;
}

.ContactLinks {
    position: absolute;
    top: 50%;
    left: 13%;
    width: 80%;
}
.ContactLinks > * {
    margin-right: 2%;
    font-size: 4rem;
    text-decoration: none;
    color: white;
}

.cubeContainer {
    position: absolute;
    top: -10%;
    left: 3%;
}
/* desktop query */
/* @media screen and (min-width: 1240px){
    .bodyContent {
        position: relative;
        top: 80%;
        width: fit-content;
    }
    .leftColumn {
        position: absolute;
        left: 5%;
        top: 5%;
        margin-right: 2%;
    }
    .rightColumn {
        position: absolute;
        left: 100%;
        top: 10%;
    }
} */

/* medium screen */
/* @media screen and (min-width: 1023px){
    .leftColumn {
        position: relative;
        left: -10vw;
        top: -18vh;
    }
} */

/* smaller medium screen */
/* @media screen and (min-height: 1025px){
    .leftColumn {
        position: relative;
        left: -10vw;
        top: -45vh;
    }
} */

/* mac screen */
/* @media screen and (min-width: 1400px){
    .leftColumn {
        position: relative;
        left: -10vw;
        top: 33vh;
    }
    .Languages {
        font-weight: normal;
        font-size: 1.2rem;
        border-radius: 20px;
        text-align: center;
        padding: 1vh 2vw 1vh 1vw;
        width: 30vw;
        background-color: #ECF0F3;
    }
    .Languages h1 {
        text-align: left;
    }
    .LanguagesList {
        padding-left: 3vw;
        text-align: center;
        font-size: 1.2rem;
    }
} */

/* phone size */
/* @media screen and (max-width: 700px){
    html,body {
        scroll-behavior: smooth;
    }
    .bodyContent {
        position: relative;
        top: -30vh;
    }
    .leftColumn,.rightColumn {
        position: relative;
        z-index: 0;
        display: block;
    }
    .leftColumn {
        left: 10vw;
        top: 30vh;
    }
    .rightColumn {
        top: 30vh;
    }
    .courseWork {
        width: 80vw;
        padding-bottom: 3vh;
    }
    .PersonalCard {
        width: 80vw;
        font-size: 1.2rem;
    }
    .PersonalCard h1 {
        font-size: 1.9rem;
    }
} */