:root {
    --startYAngle: 0deg;
    --startXAngle: 0deg;
    --stopXAngle: 720deg;
    --stopYAngle: 720deg;
}

body {
    background-color: #222;
}

.cubeContainer {
    width: 22vh;
    height: 22vh;
    perspective: 500vh;
    margin: 10% auto 0 10%;
    display: inline-block;
}

.cube {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
    animation: spin 10s infinite alternate-reverse;
}

.top {
    transform: rotateX(90deg) translateZ(11vh);
}
.bottom {
    transform: rotateX(-90deg) translateZ(11vh);
}
.left {
    transform: rotateY(-90deg) translateZ(11vh);
}
.right {
    transform: rotateY(90deg) translateZ(11vh);
}
.front {
    transform: rotateX(0deg) translateZ(11vh);
}
.back {
    transform: rotateX(-180deg) translateZ(11vh);
}

@keyframes spin {
    /* {
        transform: rotateX(0deg) rotateY(0deg);
        transform: rotateX(var(--startXAngle)) rotateY(var(--startYAngle));
    } 
    */
    50% {
        /* transform: rotateX(360deg) rotateY(360deg); */
        transform: rotateX(var(--stopXAngle)) rotateY(var(--stopYAngle));
    }
    100% {
        transform: rotateX(var(--startXAngle)) rotateY(var(--startYAngle));
    }
}