
.gpaCard {
    background-color: #ECF0F3;
    height: 30vh;
    width: 30vw;
    border-radius: 20px;
    position: relative;
    left: 1vw;
    padding-top: 1vh;

    /* fonts */
    font-family: 'Aboreto', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
}

.gpaCard::before {
    box-shadow: 1vh 1vh #D1D9E6;
}
.gpaCard::after {
    box-shadow: -1vh -1vh #D1D9E6;
}
.innerContent {
    position: relative;
    top: 4vh;
}

.gpaCard > h1 {
    position: relative;
    top: 3vh;
}


/* desktop query */
/* @media screen and (min-width: 2550px){
    .gpaCard {
        background-color: #ECF0F3;
        height: 20vh;
        width: 30vw;
        border-radius: 20px;
        position: relative;
        left: 0vw;
        padding-top: 1vh;
    }
    
} */

/* medium screen */
/* @media screen and (min-width: 700px) and (max-width: 1200px){
    .gpaCard {
        background-color: #ECF0F3;
        height: 50vh;
        width: 35vw;
        border-radius: 20px;
        position: relative;
        left: 1vw;
        padding: 1vh 1vw 5vh 1vw;
    
        fonts
        font-family: 'Aboreto', cursive;
        font-family: 'Ubuntu', sans-serif;
        font-family: 'Work Sans', sans-serif;
    }
    
} */
/* mac screen */
/* @media screen and (min-width: 1400px){
    .gpaCard {
        background-color: #ECF0F3;
        height: 40vh;
        width: 30vw;
        border-radius: 20px;
        position: relative;
        left: 1vw;
        padding-top: 1vh;
        padding-bottom: 3vh;
    }
} */

/* phone size */
/* @media screen and (max-width: 700px){
    .gpaCard {
        height: 40vh;
        width: 80vw;
        left: 1vw;
        padding-top: 1vh;
        padding-bottom: 3vh;
        font-size: .8rem;
    }
    
} */