
.container {
    width: 100vw;
    height: 40vh;
    text-align: center;
    padding-bottom: 10%;
    background-color: black;
    color: white;
    position: relative;
    margin: 0;
    overflow: hidden;
    /* external fonts */
    font-family: 'Aboreto', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container > * {
    display: inline-block;
}

.name {
    margin: auto 10%;
    font-size: 15rem;
    position: relative;
    right: -10vh;
    top: 15vh;
}

.leftMostCube {
    position: relative;
    right: 2vh;
}

.optionBar {
    height: 5vh;
    background-color: #222;
    position: sticky;
    top: 0;
}

.options {
    position: relative;
    left: 50%;
    height: inherit;
    width: 50%;
    background-color: transparent;
    text-align: left;
}
.options > * {
    font-size: 3rem;
    /* padding-left: 10%; */
    padding-top: 2%;
    color: white;
    text-decoration: none;
}
/* 
mobile
    hide cube
*/
@media screen and (max-width: 600px){
    .name {
        font-size: 4rem;
    }
    
}

/* mobile size */
@media screen and (max-width: 700px){
    /* .cube {
        display: none;
    } */
    .name {
        font-size: 5rem;
    }
    .container {
        width: 100vw;
        height: 20vh;
        text-align: center;
        padding-bottom: 10%;
        background-color: black;
        color: white;
        /* position: absolute; */
        margin: 0;
        overflow: hidden;
        /* width: 100vw; */
        text-align: left;
    }
    .name {
        margin: auto 10%;
        font-size: 3rem;
        position: relative;
        right: 0vw;
        top: -20vh;
    }
    html,body{
        /* max-width: 8vw; */
        scroll-behavior: smooth;
    }
}