.ProjectCard {
    background-color: #ECF0F3;
    font-size: 1.2rem;
    border-radius: 20px;
    text-align: center;
    padding: 1vh 2vw 1vh 1vw;
    max-width: 30vw;
    /* fonts */
    font-family: 'Aboreto', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 2vh;
}

li {
    margin-bottom: .5vh;
    line-height: 1.5;
    text-align: left;
}